<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.3/dist/algoliasearch-lite.umd.js"
    integrity="sha256-EEFkwQj3/mO1a8beUI2Vq21XydyClMcxuJ4alRmK9Cg=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.2.0/dist/instantsearch.production.min.js"
    integrity="sha256-B+gqnZmUVBAmEIiecyayAjKMHpQjJhlNMly7YIxbdfw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js"
    integrity="sha256-sTurDi2etLN9CpnUIoCC9y5iynb2qr/uo6QJqzoO7mA=" crossorigin="anonymous"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/script.js"></script>
<footer class="site-footer" style="padding-top:50px;">
  <span class="site-footer-credits">Contribute to <strong>{{ site.title }}</strong> on <a target="_blank" href="{{ site.github.repository_url }}">GitHub</a>.</span>
</footer>
